// Place all the styles related to the customers::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-item {
  height :620px;
  position:relative;
  z-index:0;
  opacity: 0.7;
}

.carousel-inner {
  position:relative;

}
.carousel-inner .cover-text {
  position:absolute;
  top:20%;
  left:35%;
  color:black;
  z-index:10;
}

.carousel-inner .cover-text h1 {
  font-family: cursive;
}